Source: spiceterm
Section: admin
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 8.0.0),
               libglib2.0-dev,
               libspice-protocol-dev,
               libspice-server-dev,
Standards-Version: 3.9.3

Package: spiceterm
Architecture: any
Depends: libspice-server1,
         pve-qemu-kvm,
         ${misc:Depends},
         ${shlibs:Depends},
Description: SPICE Terminal Emulator
 With spiceterm you can start commands and export its standard input and
 output to any SPICE client (simulating a xterm Terminal).
